{% extends "advent_calendar/base.html" %}
{% load static %}
{% block page_header %}
  <h1 class="display-5 text-center">Choose your day</h1>
{% endblock page_header %}

{% block content %}

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
  {% for day in days %}
    <div>
      <div class="card">
        <a href="{% url 'adv_calendar:day' day.day %}">
          {% with day.day|stringformat:'s'|add:'.png' as img_src %}
            <img src="{% static 'advent_calendar/'|add:img_src %}" class="card-img-top {% if day.open_date %} opacity-25 {% endif %}" alt="day.day">
          {% endwith %}
        </a>
      </div>
    </div>
  {% endfor%}
</div>

{% endblock %}